---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Syntex GreenTech">
  <main class="h-screen">
    <div
      class="flex text-center pb-12 md:pb-16 h-full items-center justify-center"
    >
      <div>
        <h1
          class="text-5xl md:text-6xl font-extrabold leading-tighter tracking-tighter mb-4 max-w-3xl"
        >
          Coming
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400"
          >
            soon
          </span>
        </h1>
      </div>
    </div>
  </main>
</Layout>
